/* HEADER  */
.header .home {
  background: url(../assets/images/home.png) center no-repeat;
  left: 0;
  transform: translateX(-1000%);
}
.header .parts {
  background: url(../assets/images/parts.png) center no-repeat;
  right: 0;
  transform: translateX(1000%);
}
.header .home,
.header .parts {
  height: var(--hf_mh);
  width: var(--hf_mh);
  background-size: cover;
  cursor: pointer;
  position: absolute;
}
.home:hover,
.parts:hover {
  opacity: 0.7;
}

/* MAIN  */
.main .parts_artists,
.main .parts_pictures {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main .parts_artists > div,
.main .parts_pictures > div {
  flex-grow: 1;
  max-height: 100px;
  max-width: 100px;
  aspect-ratio: 1/1;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.main .parts_artists > div:hover,
.main .parts_pictures > div:hover {
  opacity: 0.7;
}
.score {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.parts_artists .part_1 {
  background: url(../assets/images/part_1_artists.png) center no-repeat;
}
.parts_artists .part_2 {
  background: url(../assets/images/part_2_artists.png) center no-repeat;
}
.parts_artists .part_3 {
  background: url(../assets/images/part_3_artists.png) center no-repeat;
}
.parts_pictures .part_1 {
  background: url(../assets/images/part_1_pictures.png) center no-repeat;
}
.parts_pictures .part_2 {
  background: url(../assets/images/part_2_pictures.png) center no-repeat;
}
.parts_pictures .part_3 {
  background: url(../assets/images/part_3_pictures.png) center no-repeat;
}
.mask_color {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20%;
}



.parts_title {
  /* display: inline-block; */
}
.main .parts_artists,
.main .parts_pictures {
  transform: translateX(-100%);
  display: none;
}
